---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Home Page Main";
const idName = "main";
---

<BaseLayout pageTitle={pageTitle}>
	<!-- main -->
	<main id={idName} class="main">
		<!-- 컨텐츠가 들어갈 부분 -->
		23
		<!-- 컨텐츠가 들어갈 부분 eee -->
	</main>
	<!-- main eee -->
</BaseLayout>