---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = `홈`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<div id="main" class="main">
	<!-- 메인 배너 -->
	 <section class="main-banner">
		<div class="inner">
			<h2 class="banner-title">아름다운 녹지,</h2>
			<img src="../img/img-subtit.png" alt="" >
		</div>
	 </section>
	<!-- 메인 배너 EEE -->

	<!-- 바로가기 -->	
	 <section>
		<div class="inner">
			<ul	class="info-nav">
				<li>공지사항</li>
				<li>자주하는 질문</li>
				<li>녹지 소개</li>
			</ul>
			
		</div>
	 </section>
	<!-- 바로가기 EEE -->

	<!-- 자료실 ,대관시설 --> 
	<!-- 자료실 ,대관시설 EEE -->


	</main>
</BaseLayout>
