---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = `홈`;

import "../../css/ui.css";
---

<BaseLayout pageTitle={pageTitle}>
	<div id="main" class="main">
		<!-- 메인 배너 -->
		<section class="main-banner">
			<div class="inner">
				<h2 class="banner-title">아름다운 녹지,</h2>
				<img src="../img/img-subtit.png" alt="" />
			</div>
		</section>
		<!-- 메인 배너 EEE -->

		<!-- 바로가기 -->
		<section>
			<div class="inner">
				<ul class="info-nav">
					<li class="info-nav-item">
						<div class="info-nav-item-title">
							<h3 class="info-title">공지사항</h3>
							<a href="" title="공지사항" class="btn_plus"></a>
						</div>
						<a href="" title="공지사항 본문" class="info-nav-item-box">
							<ul class="info-inner-box">
								<li class="dateWrap">
										<p class="date">2025.08.21</p>
										<p class="day">04</p>
								</li>
								<li class="txtWrap">
									<span class="info-new">N</span>
									<h3 class="info-title">공지사항 본문입니다.</h3>
								</li>
							</ul>
						</a>
					</li>
					<li class="info-nav-item">
						<div>
							<h3>자주하는 질문</h3>
							<img src="../img/btn_plus.svg" alt="" />
						</div>
					</li>
					<li>녹지 소개</li>
				</ul>
			</div>
		</section>
		<!-- 바로가기 EEE -->

		<!-- 자료실 ,대관시설 -->

		<!-- 자료실 ,대관
	 
	시설 EEE -->
	</div>
</BaseLayout>
