// 사용자 정의 변수
// 여기에 매인컬러, 서브컬러 등의 변수를 설정하면 SCSS 어디에서도 사용할 수 있습니다.
//////////////////////////////////////////////
$cMain: #00B587;
$cWhite: #ffffff;
$cGray01: #EFEFEF;
$cGray02: #666666;
$cGray03: #D9D9D9;
$cGray04: #CECECE;
$cGray05: #F3F4F5;
$cDarkGray: #333333;
$cLightGreenBg : #EDFFFA;
$cLightGreenBg02 : #D3EFD8;
$cLightGreen: #A9E9D9;
$cLightGreenBorder: #9EE5D3;

$cLightYellowGreenBg : #F6FEF4;
$cLightYellowGreen: #C8EFBF;

// 위치 설정
$path-set: (
	icon: "../img/icon/",
	img: "../img/",
	logo: "../img/logo/",
	object: "../img/object/",
);

// 반응형 기준
// 큰 모니터
$web: 1400px;
// 랩탑 - 노트북
$tab: 900px;
// 태블릿 -
$mo: 600px;