---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home Page Main";
const idName = "main";
---

<BaseLayout pageTitle={pageTitle}>
	<!-- main -->
	<main id={idName} class="main">
		<!-- 컨텐츠가 들어갈 부분 -->
		<div class="contentBody">
			<!-- visual -->
			<figure class="visual">
				<div class="inner">
					<div class="visualSlide">
						<!-- 다음 버튼 -->
						<button type="button" class="swiper-button-next"></button>

						<!-- 슬라이드 -->
						<div id="visualSlide" class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a href="#">
										<img
											src="img/visual-img01.png"
											alt="메인 슬라이드 이미지"
										/>
									</a>
								</div>
								<div class="swiper-slide">
									<a href="#">
										<img
											src="https://via.placeholder.com/1400x385"
											alt="메인 슬라이드 이미지"
										/>
									</a>
								</div>
								<div class="swiper-slide">
									<a href="#">
										<img
											src="img/visual-img01.png"
											alt="메인 슬라이드 이미지"
										/>
									</a>
								</div>
							</div>
						</div>

						<!-- 이전 버튼 -->
						<button type="button" class="swiper-button-prev"></button>

						<!-- 시작,정지 -->
						<div class="autoplayControl">
							<button aria-pressed="false" aria-label="자동 재생 일시 정지"
							></button>
						</div>

						<!-- 페이징 -->
						<div class="comSlidePaging">
							<div class="currentNum"></div>
							<span class="bar">/</span>
							<div class="allNum"></div>
						</div>
					</div>
				</div>
			</figure>
			<!-- visual eee-->
		</div>
		<!-- 컨텐츠가 들어갈 부분 eee -->
	</main>
	<!-- main eee -->
</BaseLayout>