<!-- 페이징 -->
<div id="paginate" class="customPaginateBar">
	<a
		href="#"
		class="customPageMoveBtn"
		onclick="fnList(1);return false;"
		title="처음 페이지로 이동"
	>
		<span class="hidden">처음 페이지로 이동</span>
		<i class="ui-icon ui-icon-seek-first"></i>
	</a>
	<a
		href="#"
		class="customPageMoveBtn"
		onclick="fnList(1);return false;"
		title="이전 페이지로 이동"
	>
		<span class="hidden">이전 페이지로 이동</span>
		<i class="ui-icon ui-icon-seek-prev"></i>
	</a>
	<a
		class="customPageNumberBtn on"
		href="#"
		onclick="return false;"
		title="1페이지로 이동"
	>
		1
	</a>
	<a
		class="customPageNumberBtn"
		href="#"
		onclick="fnList(2);return false;"
		title="2페이지로 이동"
	>
		2
	</a>
	<a
		href="#"
		class="customPageMoveBtn"
		onclick="fnList(2);return false;"
		title="다음 페이지로 이동"
	>
		<span class="hidden">다음 페이지로 이동</span>
		<i class="ui-icon ui-icon-seek-next"></i>
	</a>
	<a
		href="#"
		class="customPageMoveBtn"
		onclick="fnList(2);return false;"
		title="마지막 페이지로 이동"
	>
		<span class="hidden">마지막 페이지로 이동</span>
		<i class="ui-icon ui-icon-seek-end"></i>
	</a>
</div>
<!-- 페이징 eee -->
