---
import Navigation from "../components/Navigation.astro";
import MoNavigation from "../components/MoNavigation.astro";
---

<!-- header -->
<header id="header" class="header active">
	<div class="headerWrap on">
		<div class="headerInner">
			<h1 class="logo">
				<a href="../main/main.html">
					<img src="../img/logo.svg" alt="포항시 송림숲" />
				</a>
			</h1>

			<!-- 네비게이션 -->
			<Navigation />
			<!-- 네비게이션 eee -->

		</div>
	</div>

	<div class="headerBg on">
		<div class="bg-sm-Area"> 
			<div class="changImg"></div>
		</div>
		<div class="inner">
			<!-- <div class="txt-wrap">
				<p class="tit">배우는 바다</p>
				<p class="txt">
					인천중구 교육포털에 <br />
					방문하신걸 환영합니다!
				</p>
			</div>
			<div class="changImg"></div> -->
		</div>
		</div>
	</div>

	<!-- 모바일메뉴 -->
	<nav class="mobileMenu">
		<MoNavigation />
	</nav>
	<!-- 모바일메뉴 eee -->

</header>
<!-- header eee -->

